<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<appSettings>
		<add key="con" value="7pmwot/Ripch8YpEXE+D9bc3Ao9mG1lsRyovcqXkzk5ZKyXzSQzaNLbOU8trI7q3mRk2Y429ujjpwonRnMjMM9c+UGVnCq+rMK8tofltfULSOHqPq4HtjA7uFK+3uLOB6A0k/JPNN8Jqt8v/ApLM1Q==" />
		<add key="SecurityKey" value=""/>
		<add key="tme" value="10000" />
		<add key ="bill_place" value="D:\Soft1\bill.txt" />
		<add key ="logspath" value="E:\logs\" />
    <add key ="ManageAttendent" value="no"/>
	</appSettings>
</configuration>